$text-heading: #555;
$text-subheading: #222;
$text-para: #777;
$banner-bg: #f1f6f7;
$banner-sub-bg: #384aeb;
$btn-bg: #384aeb;

.best-seller {
	position: relative;
	.best-title {
		p {
			color: $text-heading;
			text-transform: capitalize;
		}
		h2 {
			color: $text-subheading;
			text-transform: capitalize;
			font-weight: 900;
			font-size: 40px;
			span {
				border-bottom: 2px solid $banner-sub-bg;
			}
		}
	}
	.best-seller-box {
		.seller-img {
			width: 350px;
			height: 100%;
			display: block;
			overflow: hidden;
			position: relative;
		}
		.add-cart {
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			transition: .4s;
			a {
				i {
					padding: 0 7px;
					font-size: 23px;
				}
			}
		}
		.seller-img:hover .add-cart {
			bottom: 20px;
			z-index: 9;
		}
		.seller-img:hover .bg {
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: 0.8s;
		}
		.product-detail {
			p {
				text-transform: capitalize;
				color: $text-heading;
			}
			p:last-child {
				font-weight: 700;
			}
			h4 {
				text-transform: capitalize;
				color: $text-subheading;
				font-weight: 900;
			}
		}
		
	}
}
// MOBILE VIEW
@media(max-width: 480px) {
	.best-seller-box {
		.seller-img {
			width: 100% !important;
			height: 100%;
			display: block;
			overflow: hidden;
			position: relative;
		}
		.add-cart {
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			transition: .4s;
			a {
				i {
					padding: 0 7px;
					font-size: 23px;
				}
			}
		}
		.seller-img:hover .add-cart {
			bottom: 20px;
			z-index: 9;
		}
		.seller-img:hover .bg {
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: 0.8s;
		}
		.product-detail {
			p {
				text-transform: capitalize;
				color: $text-heading;
			}
			p:last-child {
				font-weight: 700;
			}
			h4 {
				text-transform: capitalize;
				color: $text-subheading;
				font-weight: 900;
			}
		}
		
	}
}